html, body {
    height: 100%;
    margin: 0;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.maincontent { /*global to every page's content*/
    position: relative;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    right: 0;
    height: 64.4px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    align-items: center;
    position: relative;
    background-color: aqua;
    
}
.menubtn {
    display: none;
}

.companyImage {
    display: flex;
    position: relative;
    left: 1em;
    height: 45px;
}

ul {
    list-style-type: none; /*no dot before every line*/
    margin-left: 50px;
    float: right;
    margin: 0;
}

li {
    float: left;    /*left to right instead of up to down*/
}
li a {
    font-size: 1.25rem;
    display: block;
    color: black;
    text-align: center;
    padding: 21px 16px;     /*x-height y-width*/
    text-decoration: none;  /*Remove Default Hyperlink display format*/
    text-transform: uppercase;
}
li a:hover {
    background-color: red;
}

@media (orientation: portrait) {   /*Must under the defined*/
    div.header {
        background-color: rgb(76, 65, 65);
    }
    .menubtn {
        display: flex;
    }
    li {
        display: none;
    }
}